# Pscopg2

In [62]:
import psycopg2

In [64]:
# Connecting default db
pgconn = psycopg2.connect(
    host='localhost',
    user= 'MAC',
    password='BigNate@1234',
    port=5433,
    database='postgres')

In [77]:
#Cursor
pgcursor = pgconn.cursor()

In [68]:
# required code
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

# Creating and Droping a Database

In [164]:
#Drop db
pgcursor.execute('DROP DATABASE IF EXISTS crypto_db')

ObjectInUse: cannot drop the currently open database

In [166]:
# create db
pgcursor.execute('CREATE DATABASE crypto_db')

DuplicateDatabase: database "crypto_db" already exists

In [168]:
# commit changes
pgconn.commit()

# Playing with some data

In [170]:
teachers =[
    ('Janet', 'Smith', 'F.D. Roosevelt HS', '2011-10-30', 36200),
        ('Lee', 'Reynolds', 'F.D. Roosevelt HS', '1993-05-22', 65000), 
        ('Samuel', 'Cole', 'Myers Middle School', '2005-08-01', 43500), 
        ('Samantha', 'Bush', 'Myers Middle School', '2011-10-30', 36200), 
        ('Betty', 'Diaz', 'Myers Middle School', '2005-08-30', 43500),
        ('Kathleen', 'Roush', 'F.D. Roosevelt HS', '2010-10-22', 38500),
];

In [172]:
# connecting to db
pgconn = psycopg2.connect(
    host='localhost',
    user= 'MAC',
    password='BigNate@1234',
    port=5433,
    database='crypto_db')

In [174]:
# required code
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [91]:
# cursor
pgcursor = pgconn.cursor()

# How to check which database we are currently using

In [176]:
pgcursor.execute('SELECT current_database()')
pgcursor.fetchone()

('crypto_db',)

# Dropping and creating a table

In [148]:
#Drop Table
pgcursor.execute('DROP TABLE IF EXISTS teachers_table')

In [184]:
# Create a table
pgcursor.execute('''
CREATE TABLE IF NOT EXISTS teachers_table
(
id bigserial,
first_name varchar(25), 
last_name varchar(50), 
school varchar(50),
hire_date date,
salary numeric 
);
''')

# To insert data into the table

In [187]:
from psycopg2.extras import execute_values

execute_values(pgcursor,
    "INSERT INTO teachers_table (first_name, last_name, school, hire_date, salary) VALUES %s",
    teachers)

# Retrive Data

In [190]:
pgcursor.execute("Select * FrOM teachers_table");

for row in pgcursor.fetchall():
    print(row)

(1, 'Janet', 'Smith', 'F.D. Roosevelt HS', datetime.date(2011, 10, 30), Decimal('36200'))
(2, 'Lee', 'Reynolds', 'F.D. Roosevelt HS', datetime.date(1993, 5, 22), Decimal('65000'))
(3, 'Samuel', 'Cole', 'Myers Middle School', datetime.date(2005, 8, 1), Decimal('43500'))
(4, 'Samantha', 'Bush', 'Myers Middle School', datetime.date(2011, 10, 30), Decimal('36200'))
(5, 'Betty', 'Diaz', 'Myers Middle School', datetime.date(2005, 8, 30), Decimal('43500'))
(6, 'Kathleen', 'Roush', 'F.D. Roosevelt HS', datetime.date(2010, 10, 22), Decimal('38500'))

# Delete data

In [193]:
pgcursor.execute("TRUNCATE teachers_table Restart Identity")

In [195]:
# commit
pgconn.close()