# How to connect a pandas dataframe to an sql database

In [65]:
import pandas as pd
import sqlalchemy
import psycopg2

In [67]:
pgconn = psycopg2.connect(
    host='localhost',
    user= 'MAC',
    password='BigNate@1234',
    port=5433,
    database='postgres')

In [89]:
pgcursor = pgconn.cursor()

In [79]:
pgcursor.execute('''
CREATE TABLE IF NOT EXISTS teachers_table
(
id bigserial,
first_name varchar(25), 
last_name varchar(50), 
school varchar(50),
hire_date date,
salary numeric 
);
''')

In [91]:
pgcursor.execute('''CREATE TABLE IF NOT EXISTS salary_tabel
(
Id bigserial,
EmployeeName varchar(25),
JobTitle varchar(50),
BasePay numeric,
OvertimePay numeric,
OtherPay numeric,
Benefits numeric, 
TotalPay numeric,
TotalPayBenefits numeric, 
Year date, 
Notes varchar,
Agency varchar(50),
Status varchar(50)
);
''')

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [21]:
#Reading the file
df = pd.read_csv("Salaries.csv", low_memory=False)

In [18]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

# Sql Alchemy
# By diffult pscopg2 is in alchemy

In [38]:
from sqlalchemy import create_engine

# create engine

In [ ]:
# Default sintax ... @ is present in the password
#engine = sqlalchemy.create_engine(
    #'postgresql://user:password@host:port/database')

In [44]:
# create engine
engine = sqlalchemy.create_engine(
    'postgresql://MAC:BigNate%401234@localhost:5433/crypto_db'
)

In [46]:
# Display engine info

In [48]:
engine

Engine(postgresql://MAC:***@localhost:5433/crypto_db)

# Dataframe to sql

In [55]:
#df to sql
#append, fail,replace

df.to_sql('crypto_table',engine,if_exists= 'append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Id" of relation "crypto_table" does not exist
LINE 1: INSERT INTO crypto_table ("Id", "EmployeeName", "JobTitle", ...
                                  ^

[SQL: INSERT INTO crypto_table ("Id", "EmployeeName", "JobTitle", "BasePay", "OvertimePay", "OtherPay", "Benefits", "TotalPay", "TotalPayBenefits", "Year", "Notes", "Agency", "Status") VALUES (%(Id__0)s, %(EmployeeName__0)s, %(JobTitle__0)s, %(BasePay__0)s ... 244404 characters truncated ... __999)s, %(TotalPayBenefits__999)s, %(Year__999)s, %(Notes__999)s, %(Agency__999)s, %(Status__999)s)]
[parameters: {'EmployeeName__0': 'NATHANIEL FORD', 'OtherPay__0': '400184.25', 'JobTitle__0': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'Year__0': 2011, 'TotalPay__0': 567595.43, 'Id__0': 1, 'Agency__0': 'San Francisco', 'TotalPayBenefits__0': 567595.43, 'Notes__0': None, 'OvertimePay__0': '0.0', 'Status__0': None, 'Benefits__0': None, 'BasePay__0': '167411.18', 'EmployeeName__1': 'GARY JIMENEZ', 'OtherPay__1': '137811.38', 'JobTitle__1': 'CAPTAIN III (POLICE DEPARTMENT)', 'Year__1': 2011, 'TotalPay__1': 538909.28, 'Id__1': 2, 'Agency__1': 'San Francisco', 'TotalPayBenefits__1': 538909.28, 'Notes__1': None, 'OvertimePay__1': '245131.88', 'Status__1': None, 'Benefits__1': None, 'BasePay__1': '155966.02', 'EmployeeName__2': 'ALBERT PARDINI', 'OtherPay__2': '16452.6', 'JobTitle__2': 'CAPTAIN III (POLICE DEPARTMENT)', 'Year__2': 2011, 'TotalPay__2': 335279.91, 'Id__2': 3, 'Agency__2': 'San Francisco', 'TotalPayBenefits__2': 335279.91, 'Notes__2': None, 'OvertimePay__2': '106088.18', 'Status__2': None, 'Benefits__2': None, 'BasePay__2': '212739.13', 'EmployeeName__3': 'CHRISTOPHER CHONG', 'OtherPay__3': '198306.9', 'JobTitle__3': 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 'Year__3': 2011, 'TotalPay__3': 332343.61, 'Id__3': 4, 'Agency__3': 'San Francisco', 'TotalPayBenefits__3': 332343.61, 'Notes__3': None, 'OvertimePay__3': '56120.71', 'Status__3': None ... 12900 parameters truncated ... 'JobTitle__996': 'CLINICAL NURSE SPECIALIST', 'Year__996': 2011, 'TotalPay__996': 169822.06, 'Id__996': 997, 'Agency__996': 'San Francisco', 'TotalPayBenefits__996': 169822.06, 'Notes__996': None, 'OvertimePay__996': '0.0', 'Status__996': None, 'Benefits__996': None, 'BasePay__996': '169572.06', 'EmployeeName__997': 'CHRISTINE DAVENPORT', 'OtherPay__997': '250.0', 'JobTitle__997': 'CLINICAL NURSE SPECIALIST', 'Year__997': 2011, 'TotalPay__997': 169822.05, 'Id__997': 998, 'Agency__997': 'San Francisco', 'TotalPayBenefits__997': 169822.05, 'Notes__997': None, 'OvertimePay__997': '0.0', 'Status__997': None, 'Benefits__997': None, 'BasePay__997': '169572.05', 'EmployeeName__998': 'ANNE HUGHES', 'OtherPay__998': '250.0', 'JobTitle__998': 'CLINICAL NURSE SPECIALIST', 'Year__998': 2011, 'TotalPay__998': 169822.01, 'Id__998': 999, 'Agency__998': 'San Francisco', 'TotalPayBenefits__998': 169822.01, 'Notes__998': None, 'OvertimePay__998': '0.0', 'Status__998': None, 'Benefits__998': None, 'BasePay__998': '169572.01', 'EmployeeName__999': 'JOHN FAZIO', 'OtherPay__999': '250.0', 'JobTitle__999': 'CLINICAL NURSE SPECIALIST', 'Year__999': 2011, 'TotalPay__999': 169822.0, 'Id__999': 1000, 'Agency__999': 'San Francisco', 'TotalPayBenefits__999': 169822.0, 'Notes__999': None, 'OvertimePay__999': '0.0', 'Status__999': None, 'Benefits__999': None, 'BasePay__999': '169572.0'}]
(Background on this error at: https://sqlalche.me/e/20/f405)

# df to crypto by chunks

In [95]:

for chunk in pd.read_csv("Salaries.csv", chunksize=1000):
    chunk.to_sql("Salaries.csv",engine, if_exists="append")

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "PT"
LINE 1: ...71952.64, 510732.68, 2014, NULL, 'San Francisco', 'PT'), (11...
                                                             ^

[SQL: INSERT INTO "Salaries.csv" (index, "Id", "EmployeeName", "JobTitle", "BasePay", "OvertimePay", "OtherPay", "Benefits", "TotalPay", "TotalPayBenefits", "Year", "Notes", "Agency", "Status") VALUES (%(index__0)s, %(Id__0)s, %(EmployeeName__0)s, %(JobTit ... 260303 characters truncated ... __999)s, %(TotalPayBenefits__999)s, %(Year__999)s, %(Notes__999)s, %(Agency__999)s, %(Status__999)s)]
[parameters: {'EmployeeName__0': 'Constance  Henderson', 'OtherPay__0': 3.52, 'JobTitle__0': 'Custodian', 'Year__0': 2013, 'TotalPay__0': 685.91, 'Id__0': 110001, 'Agency__0': 'San Francisco', 'TotalPayBenefits__0': 685.91, 'index__0': 110000, 'Notes__0': None, 'OvertimePay__0': 0.0, 'Status__0': None, 'Benefits__0': 0.0, 'BasePay__0': 682.39, 'EmployeeName__1': 'Troy  Danielsen', 'OtherPay__1': 0.0, 'JobTitle__1': 'Junior Clerk', 'Year__1': 2013, 'TotalPay__1': 678.5, 'Id__1': 110002, 'Agency__1': 'San Francisco', 'TotalPayBenefits__1': 685.29, 'index__1': 110001, 'Notes__1': None, 'OvertimePay__1': 318.48, 'Status__1': None, 'Benefits__1': 6.79, 'BasePay__1': 360.02, 'EmployeeName__2': 'Douglas J Kassel', 'OtherPay__2': 0.0, 'JobTitle__2': 'Junior Clerk', 'Year__2': 2013, 'TotalPay__2': 676.19, 'Id__2': 110003, 'Agency__2': 'San Francisco', 'TotalPayBenefits__2': 682.95, 'index__2': 110002, 'Notes__2': None, 'OvertimePay__2': 297.71, 'Status__2': None, 'Benefits__2': 6.76, 'BasePay__2': 378.48, 'EmployeeName__3': 'Jenny A Spataro', 'OtherPay__3': 0.0, 'JobTitle__3': 'Recreation Leader', 'Year__3': 2013, 'TotalPay__3': 675.0, 'Id__3': 110004, 'Agency__3': 'San Francisco', 'TotalPayBenefits__3': 681.76 ... 13900 parameters truncated ... 'Agency__996': 'San Francisco', 'TotalPayBenefits__996': 256553.36, 'index__996': 110996, 'Notes__996': None, 'OvertimePay__996': 0.0, 'Status__996': 'PT', 'Benefits__996': 55369.73, 'BasePay__996': 173811.91, 'EmployeeName__997': 'Denise M Flaherty', 'OtherPay__997': 1126.14, 'JobTitle__997': 'Captain 3', 'Year__997': 2014, 'TotalPay__997': 200860.65, 'Id__997': 110998, 'Agency__997': 'San Francisco', 'TotalPayBenefits__997': 256512.88, 'index__997': 110997, 'Notes__997': None, 'OvertimePay__997': 574.5, 'Status__997': 'FT', 'Benefits__997': 55652.23, 'BasePay__997': 199160.01, 'EmployeeName__998': 'Edmund G Vail', 'OtherPay__998': 27733.58, 'JobTitle__998': 'Lieutenant, Fire Suppression', 'Year__998': 2014, 'TotalPay__998': 208860.0, 'Id__998': 110999, 'Agency__998': 'San Francisco', 'TotalPayBenefits__998': 256410.73, 'index__998': 110998, 'Notes__998': None, 'OvertimePay__998': 50165.37, 'Status__998': 'FT', 'Benefits__998': 47550.73, 'BasePay__998': 130961.05, 'EmployeeName__999': 'Carlos Salazar', 'OtherPay__999': 31557.41, 'JobTitle__999': 'Nurse Manager', 'Year__999': 2014, 'TotalPay__999': 201584.44, 'Id__999': 111000, 'Agency__999': 'San Francisco', 'TotalPayBenefits__999': 256399.63, 'index__999': 110999, 'Notes__999': None, 'OvertimePay__999': 0.0, 'Status__999': 'FT', 'Benefits__999': 54815.19, 'BasePay__999': 170027.03}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

# sql to df

In [99]:
salary_data_df = pd.read_sql_query('SELECT * from salary_table', engine)
salary_data_df

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "salary_table" does not exist
LINE 1: SELECT * from salary_table
                      ^

[SQL: SELECT * from salary_table]
(Background on this error at: https://sqlalche.me/e/20/f405)

# Saving back to an excel or csv file

In [104]:
 salaries_data_df.to_excel('new_crypto_data.xlsx', index= False)

NameError: name 'salaries_data_df' is not defined

# Dispose engine